.header{
    position: fixed;
    top: 0;
    padding: 24px 0;
    width: 100%;
    box-shadow: 0 1px 5px $shadow;
    z-index: 999;

    .header-flex{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .mode{
        background-color: transparent;
    }
    .mode .icon{
        margin-right: 8px;
    }
    .mode .dark-mode{
        font-size: 16px;
        font-weight: $bold;
        cursor:pointer;
    }
}

@media screen and (max-width: $mobile) {
    
    h1{
        font-size: 14px;
    }
  
}