$dark_mode_element_color:  hsl(209, 23%, 22%);
$dark_mode_backgroundColor: hsl(207, 26%, 17%);
$dark_mode_text_color: hsl(0, 0%, 100%);
$dark_mode_input_text_color: hsl(0, 0%, 100%);
$dark_mode_hover:hsl(208, 38%, 21%);

$light_mode_text_color: hsl(200, 15%, 8%);
$light_mode_input_text_color: hsl(0, 0%, 52%);
$light_mode_backgroundColor: hsl(0, 0%, 98%);
$light_mode_elements_color:hsl(0, 0%, 100%);
$light_mode_hover:hsl(0, 87%, 94%);

$shadow: #00000044;
$border_radius: 5px;


$regular: 300;
$bold: 600;
$extra_bold: 900;


// Queries
$tablet: 800px;
$mobile: 530px