.fetch-error{
    height: 100vh;
    padding-top: 72px;
    .icon{
        font-size: 5rem;
    }
    .container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
    }
    p,a{
        text-align: center;
    }
    .error-header{
        font-size: 3rem;
    }

    .error-statement{
        font-size: 1rem;
        margin-bottom: 1.5rem;
    }
    .fetch-error-content{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .home-btn{
        border-radius: $border-radius;
        padding: 10px 39px;
    }
}